body {
	margin: 0px;
}

option:nth-child(odd) { 
	background: lightblue;
}

#mainContainer {
    width: 250px;
    height: 280px;
    margin: 0px;
}

#txtArea {
    width: 230px;
    padding: 10px;
	height: 230px;
    resize: none;
    background-color: #FFF967;
	border: none;
}

#list {
    width: 250px;
	//padding: 10px;
    height: 250px;
    margin: 0px;
    resize: none;
	border: none;
	background-color: #FFEEBC;
	background-color: lightgrey;
}
